In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#import datasets
treino=pd.read_csv('train.csv')
teste=pd.read_csv('test.csv')

EDA

In [3]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

In [4]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75818 entries, 0 to 75817
Columns: 370 entries, ID to var38
dtypes: float64(110), int64(260)
memory usage: 214.0 MB

In [5]:
treino.shape

(76020, 371)

In [6]:
teste.shape #no target column

(75818, 370)

In [7]:
treino.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
teste.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [9]:
treino.groupby('TARGET').size()
#1 for unsatisfied customers and 0 for satisfied customers

TARGET
0    73012
1     3008
dtype: int64

In [10]:
treino['imp_ent_var16_ult1'].value_counts().head()

0.0      72301
300.0      221
150.0      217
600.0      172
900.0      164
Name: imp_ent_var16_ult1, dtype: int64

In [11]:
cols=list(treino.columns)

In [12]:
for i in cols:
   print(treino[i].value_counts().head())
#some variables have the same value counts, leave one of them and remove the others
#there are variables with uniform values, remove these columns

2047      1
17117     1
21215     1
109280    1
111331    1
Name: ID, dtype: int64
 2         74165
 8           138
-999999      116
 9           110
 3           108
Name: var3, dtype: int64
23    20170
24     6232
25     4217
26     3270
27     2861
Name: var15, dtype: int64
0.0      72301
300.0      221
150.0      217
600.0      172
900.0      164
Name: imp_ent_var16_ult1, dtype: int64
0.0     66075
30.0      120
60.0      100
15.0       56
90.0       48
Name: imp_op_var39_comer_ult1, dtype: int64
0.0     64330
30.0      161
60.0       91
4.5        72
15.0       60
Name: imp_op_var39_comer_ult3, dtype: int64
0.00      75725
30.00         2
396.00        2
180.00        2
17.25         1
Name: imp_op_var40_comer_ult1, dtype: int64
0.00       75672
30.00          3
4.50           2
1775.10        1
4251.06        1
Name: imp_op_var40_comer_ult3, dtype: int64
0.0       75982
900.0         6
1800.0        4
600.0         3
60.0          3
Name: imp_op_var40_efect_ult1, dtype: int64
0.0       75975
900.0         6
1800.0        4
120.0         4
300.0         2
Name: imp_op_var40_efect_ult3, dtype: int64
0.0       75791
900.0         2
450.0         2
600.0         2
1800.0        2
Name: imp_op_var40_ult1, dtype: int64
0.0     66226
30.0      120
60.0      101
15.0       56
90.0       48
Name: imp_op_var41_comer_ult1, dtype: int64
0.0     64480
30.0      161
60.0       91
4.5        72
15.0       60
Name: imp_op_var41_comer_ult3, dtype: int64
0.0      69336
60.0      1124
120.0      644
180.0      294
240.0      259
Name: imp_op_var41_efect_ult1, dtype: int64
0.0      67372
60.0      1570
120.0      694
180.0      352
240.0      279
Name: imp_op_var41_efect_ult3, dtype: int64
0.0      64388
60.0       557
120.0      202
30.0       101
300.0       87
Name: imp_op_var41_ult1, dtype: int64
0.0      69325
60.0      1125
120.0      643
180.0      294
240.0      259
Name: imp_op_var39_efect_ult1, dtype: int64
0.0      67360
60.0      1569
120.0      694
180.0      352
240.0      279
Name: imp_op_var39_efect_ult3, dtype: int64
0.0      64271
60.0       556
120.0      201
30.0       101
300.0       87
Name: imp_op_var39_ult1, dtype: int64
0.0       75924
3000.0        9
1500.0        5
600.0         4
450.0         3
Name: imp_sal_var16_ult1, dtype: int64
0    75149
1      871
Name: ind_var1_0, dtype: int64
0    75734
1      286
Name: ind_var1, dtype: int64
0    76020
Name: ind_var2_0, dtype: int64
0    76020
Name: ind_var2, dtype: int64
1    72829
0     3191
Name: ind_var5_0, dtype: int64
1    50459
0    25561
Name: ind_var5, dtype: int64
0    76012
1        8
Name: ind_var6_0, dtype: int64
0    76018
1        2
Name: ind_var6, dtype: int64
0    73524
1     2496
Name: ind_var8_0, dtype: int64
0    73846
1     2174
Name: ind_var8, dtype: int64
0    70887
1     5133
Name: ind_var12_0, dtype: int64
0    72564
1     3456
Name: ind_var12, dtype: int64
0    72048
1     3972
Name: ind_var13_0, dtype: int64
0    72756
1     3264
Name: ind_var13_corto_0, dtype: int64
0    72867
1     3153
Name: ind_var13_corto, dtype: int64
0    75247
1      773
Name: ind_var13_largo_0, dtype: int64
0    75260
1      760
Name: ind_var13_largo, dtype: int64
0    76018
1        2
Name: ind_var13_medio_0, dtype: int64
0    76018
1        2
Name: ind_var13_medio, dtype: int64
0    72154
1     3866
Name: ind_var13, dtype: int64
0    74222
1     1798
Name: ind_var14_0, dtype: int64
0    75617
1      403
Name: ind_var14, dtype: int64
0    75883
1      137
Name: ind_var17_0, dtype: int64
0    75910
1      110
Name: ind_var17, dtype: int64
0    76018
1        2
Name: ind_var18_0, dtype: int64
0    76018
1        2
Name: ind_var18, dtype: int64
0    75701
1      319
Name: ind_var19, dtype: int64
0    75744
1      276
Name: ind_var20_0, dtype: int64
0    75815
1      205
Name: ind_var20, dtype: int64
0    72799
1     3221
Name: ind_var24_0, dtype: int64
0    73140
1     2880
Name: ind_var24, dtype: int64
0    74011
1     2009
Name: ind_var25_cte, dtype: int64
0    74147
1     1873
Name: ind_var26_0, dtype: int64
0    73925
1     2095
Name: ind_var26_cte, dtype: int64
0    74147
1     1873
Name: ind_var26, dtype: int64
0    74223
1     1797
Name: ind_var25_0, dtype: int64
0    74223
1     1797
Name: ind_var25, dtype: int64
0    76020
Name: ind_var27_0, dtype: int64
0    76020
Name: ind_var28_0, dtype: int64
0    76020
Name: ind_var28, dtype: int64
0    76020
Name: ind_var27, dtype: int64
0    76012
1        8
Name: ind_var29_0, dtype: int64
0    76018
1        2
Name: ind_var29, dtype: int64
1    75677
0      343
Name: ind_var30_0, dtype: int64
1    55710
0    20310
Name: ind_var30, dtype: int64
0    75695
1      325
Name: ind_var31_0, dtype: int64
0    75741
1      279
Name: ind_var31, dtype: int64
0    75928
1       92
Name: ind_var32_cte, dtype: int64
0    75938
1       82
Name: ind_var32_0, dtype: int64
0    75938
1       82
Name: ind_var32, dtype: int64
0    75963
1       57
Name: ind_var33_0, dtype: int64
0    75972
1       48
Name: ind_var33, dtype: int64
0    76018
1        2
Name: ind_var34_0, dtype: int64
0    76018
1        2
Name: ind_var34, dtype: int64
0    70524
1     5496
Name: ind_var37_cte, dtype: int64
0    71059
1     4961
Name: ind_var37_0, dtype: int64
0    71059
1     4961
Name: ind_var37, dtype: int64
1    66955
0     9065
Name: ind_var39_0, dtype: int64
0    75152
1      868
Name: ind_var40_0, dtype: int64
0    75737
1      283
Name: ind_var40, dtype: int64
1    66843
0     9177
Name: ind_var41_0, dtype: int64
0    76020
Name: ind_var41, dtype: int64
0    75737
1      283
Name: ind_var39, dtype: int64
0    75877
1      143
Name: ind_var44_0, dtype: int64
0    75891
1      129
Name: ind_var44, dtype: int64
0    76020
Name: ind_var46_0, dtype: int64
0    76020
Name: ind_var46, dtype: int64
0    75149
3      869
6        2
Name: num_var1_0, dtype: int64
0    75734
3      285
6        1
Name: num_var1, dtype: int64
1    38147
0    19528
2    12692
3     4377
4     1031
Name: num_var4, dtype: int64
3     72336
0      3191
6       484
9         7
15        2
Name: num_var5_0, dtype: int64
3     50265
0     25561
6       190
9         3
15        1
Name: num_var5, dtype: int64
0    76012
3        8
Name: num_var6_0, dtype: int64
0    76018
3        2
Name: num_var6, dtype: int64
0    73524
3     2495
6        1
Name: num_var8_0, dtype: int64
0    73846
3     2174
Name: num_var8, dtype: int64
0      70887
3       4954
6        174
9          3
111        1
Name: num_var12_0, dtype: int64
0     72564
3      3418
6        37
15        1
Name: num_var12, dtype: int64
0     72048
3      3740
6       200
9        22
12        7
Name: num_var13_0, dtype: int64
0    72756
3     3226
6       38
Name: num_var13_corto_0, dtype: int64
0    72867
3     3151
6        2
Name: num_var13_corto, dtype: int64
0     75247
3       636
6       112
9        18
12        4
Name: num_var13_largo_0, dtype: int64
0     75260
3       652
6        93
9         9
12        3
Name: num_var13_largo, dtype: int64
0    76018
3        2
Name: num_var13_medio_0, dtype: int64
0    76018
3        2
Name: num_var13_medio, dtype: int64
0     72154
3      3712
6       135
9        12
12        4
Name: num_var13, dtype: int64
0      74222
3       1791
6          5
111        1
12         1
Name: num_var14_0, dtype: int64
0     75617
3       399
6         3
12        1
Name: num_var14, dtype: int64
0     75883
3        68
6        31
9        15
12       10
Name: num_var17_0, dtype: int64
0     75910
3        55
6        28
9        11
12        7
Name: num_var17, dtype: int64
0    76018
3        2
Name: num_var18_0, dtype: int64
0    76018
3        2
Name: num_var18, dtype: int64
0    75744
3      276
Name: num_var20_0, dtype: int64
0    75815
3      205
Name: num_var20, dtype: int64
0    72799
3     3208
6       12
9        1
Name: num_var24_0, dtype: int64
0    73140
3     2877
6        3
Name: num_var24, dtype: int64
0     74147
3      1574
6       240
9        42
12       12
Name: num_var26_0, dtype: int64
0     74147
3      1574
6       240
9        42
12       12
Name: num_var26, dtype: int64
0     74223
3      1525
6       216
9        40
12       11
Name: num_var25_0, dtype: int64
0     74223
3      1525
6       216
9        40
12       11
Name: num_var25, dtype: int64
0     75918
3        26
6        18
9        16
12       10
Name: num_op_var40_hace2, dtype: int64
0     76013
3         3
6         2
48        1
9         1
Name: num_op_var40_hace3, dtype: int64
0     75791
3        56
6        34
9        22
12       22
Name: num_op_var40_ult1, dtype: int64
0     75772
3        48
6        39
12       27
24       17
Name: num_op_var40_ult3, dtype: int64
0     67679
3      2617
6      1405
9       865
12      624
Name: num_op_var41_hace2, dtype: int64
0     75044
3       491
6       206
9       107
12       55
Name: num_op_var41_hace3, dtype: int64
0     64388
3      2929
6      1742
9      1090
12      811
Name: num_op_var41_ult1, dtype: int64

0     62355
3      3024
6      1816
9      1237
12      896
Name: num_op_var41_ult3, dtype: int64
0     67609
3      2629
6      1416
9       874
12      633
Name: num_op_var39_hace2, dtype: int64
0     75037
3       494
6       208
9       108
12       55
Name: num_op_var39_hace3, dtype: int64
0     64271
3      2948
6      1746
9      1096
12      821
Name: num_op_var39_ult1, dtype: int64
0     62244
3      3028
6      1827
9      1237
12      908
Name: num_op_var39_ult3, dtype: int64
0    76020
Name: num_var27_0, dtype: int64
0    76020
Name: num_var28_0, dtype: int64
0    76020
Name: num_var28, dtype: int64
0    76020
Name: num_var27, dtype: int64
0    76012
3        8
Name: num_var29_0, dtype: int64
0    76018
3        2
Name: num_var29, dtype: int64
3     68086
6      5657
9      1760
0       343
12      152
Name: num_var30_0, dtype: int64
3     51452
0     20310
6      3901
9       319
12       28
Name: num_var30, dtype: int64
0     75695
3       244
6        39
9        18
15        8
Name: num_var31_0, dtype: int64
0     75741
3       217
6        31
9        14
12        7
Name: num_var31, dtype: int64
0     75938
3        60
6        20
12        1
9         1
Name: num_var32_0, dtype: int64
0     75938
3        60
6        20
12        1
9         1
Name: num_var32, dtype: int64
0     75963
3        51
6         5
12        1
Name: num_var33_0, dtype: int64
0    75972
3       43
6        5
Name: num_var33, dtype: int64
0    76018
3        2
Name: num_var34_0, dtype: int64
0    76018
3        2
Name: num_var34, dtype: int64
3     37921
0     19528
6     12327
9      4570
12     1237
Name: num_var35, dtype: int64
0     72452
3      2132
6       758
9       324
12      141
Name: num_var37_med_ult2, dtype: int64
0     71059
3      2637
6      1083
9       523
12      307
Name: num_var37_0, dtype: int64
0     71059
3      2637
6      1083
9       523
12      307
Name: num_var37, dtype: int64
3     65013
0      9065
6      1817
9       111
12        9
Name: num_var39_0, dtype: int64
0    75152
3      867
6        1
Name: num_var40_0, dtype: int64
0    75737
3      283
Name: num_var40, dtype: int64
3     65398
0      9177
6      1359
9        75
12        6
Name: num_var41_0, dtype: int64
0    76020
Name: num_var41, dtype: int64
0    75737
3      283
Name: num_var39, dtype: int64
3     70242
6      5126
0       436
9       203
12        9
Name: num_var42_0, dtype: int64
3     52064
0     21908
6      2012
9        31
12        3
Name: num_var42, dtype: int64
0    75877
3      142
6        1
Name: num_var44_0, dtype: int64
0    75891
3      129
Name: num_var44, dtype: int64
0    76020
Name: num_var46_0, dtype: int64
0    76020
Name: num_var46, dtype: int64
0.00       75734
900.00         2
4035.00        2
2003.13        1
1592.64        1
Name: saldo_var1, dtype: int64
0.0     25561
3.0     18797
90.0     5267
30.0     1858
15.0     1662
Name: saldo_var5, dtype: int64
0.0        76018
19531.8        1
11976.6        1
Name: saldo_var6, dtype: int64
0.0      73846
3.0         23
30.0        15
15.0        15
150.0       11
Name: saldo_var8, dtype: int64
0.00         72564
3000.00         10
3.00            10
150392.37        9
300.00           9
Name: saldo_var12, dtype: int64
0.0         72867
90000.0       144
30000.0       135
60000.0       130
150000.0      128
Name: saldo_var13_corto, dtype: int64
0.0         75260
75000.0        58
90000.0        53
150000.0       48
300000.0       46
Name: saldo_var13_largo, dtype: int64
0        76018
30000        1
9000         1
Name: saldo_var13_medio, dtype: int64
0.0         72154
90000.0       190
150000.0      172
300000.0      159
30000.0       148
Name: saldo_var13, dtype: int64
0.0       75617
3000.0        8
3.0           7
600.0         7
1200.0        6
Name: saldo_var14, dtype: int64
0.00        75910
34138.02        1
60851.22        1
14832.87        1
12162.81        1
Name: saldo_var17, dtype: int64
0          76018
3000000        1
300000         1
Name: saldo_var18, dtype: int64
0.00      75815
90.06         4
900.36        3
60.00         3
300.00        3
Name: saldo_var20, dtype: int64
0.00         73140
150392.37        9
30000.00         8
300000.00        7
300385.68        7
Name: saldo_var24, dtype: int64
0.00       74147
1278.00      123
1065.00        9
761.64         9
2700.00        8
Name: saldo_var26, dtype: int64
0.00       74223
1278.00      123
761.64         9
1065.00        9
2700.00        8
Name: saldo_var25, dtype: int64
0    76020
Name: saldo_var28, dtype: int64
0    76020
Name: saldo_var27, dtype: int64
0.0        76018
19531.8        1
11976.6        1
Name: saldo_var29, dtype: int64
0.0     20310
3.0     18290
90.0     5236
30.0     1603
15.0     1477
Name: saldo_var30, dtype: int64
0.00        75741
65439.45        2
15156.66        2
604.14          1
24148.62        1
Name: saldo_var31, dtype: int64
0.00       75938
1898.70        5
436.50         3
218.25         2
579.90         2
Name: saldo_var32, dtype: int64
0.00        75972
15156.66        2
20040.54        1
10484.82        1
32811.27        1
Name: saldo_var33, dtype: int64
0        76018
36000        1
15000        1
Name: saldo_var34, dtype: int64
0.00      71059
159.21       36
30.00        23
160.77       22
120.12       18
Name: saldo_var37, dtype: int64
0.00       75737
900.00         2
4035.00        2
2003.13        1
1592.64        1
Name: saldo_var40, dtype: int64
0    76020
Name: saldo_var41, dtype: int64
0.0     21786
3.0     18593
90.0     5255
30.0     1762
15.0     1604
Name: saldo_var42, dtype: int64
0.00         75891
65439.45         2
79446.30         1
525551.40        1
14594.88         1
Name: saldo_var44, dtype: int64
0    76020
Name: saldo_var46, dtype: int64
99    30064
3     22177
1     14664
2      8704
0       411
Name: var36, dtype: int64
0             76018
9999999999        2
Name: delta_imp_amort_var18_1y3, dtype: int64
0             76018
9999999999        2
Name: delta_imp_amort_var34_1y3, dtype: int64
 0.000000e+00    73948
-1.000000e+00     1675
 1.000000e+10      370
-5.000000e-01        2
-3.333333e-01        2
Name: delta_imp_aport_var13_1y3, dtype: int64
 0.000000e+00    75960
 1.000000e+10       39
-1.000000e+00       17
 1.500000e+00        1
 1.000055e+00        1
Name: delta_imp_aport_var17_1y3, dtype: int64
 0.000000e+00    75996
-1.000000e+00       17
-9.500000e-01        1
-9.404762e-01        1
 1.000000e+10        1
Name: delta_imp_aport_var33_1y3, dtype: int64
 0.000000e+00    75918
 1.000000e+10       70
-1.000000e+00       18
 2.650549e+00        1
 1.517507e-01        1
Name: delta_imp_compra_var44_1y3, dtype: int64
0             75982
9999999999       38
Name: delta_imp_reemb_var13_1y3, dtype: int64
 0             75999
 9999999999       20
-1                 1
Name: delta_imp_reemb_var17_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_imp_reemb_var33_1y3, dtype: int64
 0             76014
 9999999999        4
-1                 2
Name: delta_imp_trasp_var17_in_1y3, dtype: int64
0             76016
9999999999        4
Name: delta_imp_trasp_var17_out_1y3, dtype: int64
 0             76009
-1                 6
 9999999999        5
Name: delta_imp_trasp_var33_in_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_imp_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75975
 1.000000e+10       42
-5.057733e-01        1
 5.417098e+00        1
-1.000000e+00        1
Name: delta_imp_venta_var44_1y3, dtype: int64
 0.000000e+00    73970
-1.000000e+00     1675
 1.000000e+10      370
 1.000000e+00        3
-3.333333e-01        1
Name: delta_num_aport_var13_1y3, dtype: int64
 0.000000e+00    75961
 1.000000e+10       39
-1.000000e+00       17
-3.333333e-01        1
 1.000000e+00        1
Name: delta_num_aport_var17_1y3, dtype: int64
 0.000000e+00    76001
-1.000000e+00       17
 1.000000e+10        1
-5.000000e-01        1
Name: delta_num_aport_var33_1y3, dtype: int64
 0.000000e+00    75923
 1.000000e+10       70
-1.000000e+00       18
 1.000000e+00        3
 4.000000e+00        2
Name: delta_num_compra_var44_1y3, dtype: int64
0             75982
9999999999       38
Name: delta_num_reemb_var13_1y3, dtype: int64
 0             75999
 9999999999       20
-1                 1
Name: delta_num_reemb_var17_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_num_reemb_var33_1y3, dtype: int64
 0             76014
 9999999999        4
-1                 2
Name: delta_num_trasp_var17_in_1y3, dtype: int64
0             76016
9999999999        4
Name: delta_num_trasp_var17_out_1y3, dtype: int64
 0             76009
-1                 6
 9999999999        5
Name: delta_num_trasp_var33_in_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_num_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75975
 1.000000e+10       42
-1.000000e+00        1
-5.000000e-01        1
 8.000000e+00        1
Name: delta_num_venta_var44_1y3, dtype: int64
0    76020
Name: imp_amort_var18_hace3, dtype: int64
0.00        76018
1883.22         1
15691.80        1
Name: imp_amort_var18_ult1, dtype: int64
0    76020
Name: imp_amort_var34_hace3, dtype: int64
0.00       76018
276.24         1
1096.02        1
Name: imp_amort_var34_ult1, dtype: int64
0.0         74314
90000.0        84
150000.0       81
30000.0        68
300000.0       66
Name: imp_aport_var13_hace3, dtype: int64
0.0         75619
90000.0        23
300000.0       17
150000.0       16
15000.0        13
Name: imp_aport_var13_ult1, dtype: int64
0.0         75998
120000.0        2
30000.0         2
3000.0          2
4500.0          1
Name: imp_aport_var17_hace3, dtype: int64
0.0        75976
30000.0        3
3000.0         2
600.0          1
7584.0         1
Name: imp_aport_var17_ult1, dtype: int64
0        75997
15000        4
1500         3
9000         2
18000        2
Name: imp_aport_var33_hace3, dtype: int64
0       76013
300         2
450         2
750         1
1260        1
Name: imp_aport_var33_ult1, dtype: int64
0.00         76017
18000.00         1
43500.00         1
145384.92        1
Name: imp_var7_emit_ult1, dtype: int64
0.0        75815
3000.0         3
90000.0        3
900.0          3
45000.0        3
Name: imp_var7_recib_ult1, dtype: int64
0.00         75988
17113.80         1
128874.51        1
15563.79         1
41801.64         1
Name: imp_compra_var44_hace3, dtype: int64
0.00        75936
3531.99         1
801.57          1
176.04          1
17298.51        1
Name: imp_compra_var44_ult1, dtype: int64
0    76020
Name: imp_reemb_var13_hace3, dtype: int64
0.0         75982
90000.0         3
18000.0         3
6000.0          2
180000.0        2
Name: imp_reemb_var13_ult1, dtype: int64
0.00        76019
12027.15        1
Name: imp_reemb_var17_hace3, dtype: int64
0.00        76000
37035.75        2
3059.52         1
33008.28        1
3192.27         1

Name: imp_reemb_var17_ult1, dtype: int64
0    76020
Name: imp_reemb_var33_hace3, dtype: int64
0       76019
1200        1
Name: imp_reemb_var33_ult1, dtype: int64
0.0       70958
3000.0      117
300.0       114
1500.0      107
900.0        97
Name: imp_var43_emit_ult1, dtype: int64
0.0       66190
300.0       408
600.0       320
1500.0      275
150.0       262
Name: imp_trans_var37_ult1, dtype: int64
0.00        76018
45741.48        1
96781.44        1
Name: imp_trasp_var17_in_hace3, dtype: int64
0.00         76016
14356.26         1
39927.15         1
133730.58        1
2999.82          1
Name: imp_trasp_var17_in_ult1, dtype: int64
0    76020
Name: imp_trasp_var17_out_hace3, dtype: int64
0.00        76016
3059.52         1
69599.01        1
69622.29        1
3192.27         1
Name: imp_trasp_var17_out_ult1, dtype: int64
0.00        76014
33079.83        1
44251.08        1
49581.27        1
25501.80        1
Name: imp_trasp_var33_in_hace3, dtype: int64
0.00       76015
2545.65        1
174.09         1
2596.53        1
5400.00        1
Name: imp_trasp_var33_in_ult1, dtype: int64
0    76020
Name: imp_trasp_var33_out_hace3, dtype: int64
0       76019
3000        1
Name: imp_trasp_var33_out_ult1, dtype: int64
0.00         76017
23.16            1
209834.40        1
78040.59         1
Name: imp_venta_var44_hace3, dtype: int64
0.00        75976
361.14          1
33096.60        1
377.58          1
21952.50        1
Name: imp_venta_var44_ult1, dtype: int64
0    76017
1        3
Name: ind_var7_emit_ult1, dtype: int64
0    75815
1      205
Name: ind_var7_recib_ult1, dtype: int64
0    69872
1     6148
Name: ind_var10_ult1, dtype: int64
0    69014
1     7006
Name: ind_var10cte_ult1, dtype: int64
0    68656
1     7364
Name: ind_var9_cte_ult1, dtype: int64
0    69489
1     6531
Name: ind_var9_ult1, dtype: int64
0    70958
1     5062
Name: ind_var43_emit_ult1, dtype: int64
0    66190
1     9830
Name: ind_var43_recib_ult1, dtype: int64
0       75152
900       236
1800      206
4500       96
3000       84
Name: var21, dtype: int64
0    76020
Name: num_var2_0_ult1, dtype: int64
0    76020
Name: num_var2_ult1, dtype: int64
0     74314
3      1565
6        97
9        25
12       14
Name: num_aport_var13_hace3, dtype: int64
0     75619
3       373
6        17
9         6
12        3
Name: num_aport_var13_ult1, dtype: int64
0     75998
3        12
6         6
12        3
9         1
Name: num_aport_var17_hace3, dtype: int64
0     75976
3        23
6        12
12        3
9         3
Name: num_aport_var17_ult1, dtype: int64
0     75997
3        21
12        1
6         1
Name: num_aport_var33_hace3, dtype: int64
0    76013
3        6
6        1
Name: num_aport_var33_ult1, dtype: int64
0    76017
3        3
Name: num_var7_emit_ult1, dtype: int64
0     75815
3       166
6        30
9         5
12        3
Name: num_var7_recib_ult1, dtype: int64
0    75988
3       20
6        9
9        3
Name: num_compra_var44_hace3, dtype: int64
0     75936
3        46
6        18
9         6
24        4
Name: num_compra_var44_ult1, dtype: int64
0     72301
3      3043
6       483
9       115
12       47
Name: num_ent_var16_ult1, dtype: int64
0     60541
3      7455
6      3856
9      1916
12     1030
Name: num_var22_hace2, dtype: int64
0     61880
3      6934
6      3345
9      1669
12     1021
Name: num_var22_hace3, dtype: int64
0     67953
3      4832
6      1829
9       734
12      320
Name: num_var22_ult1, dtype: int64
0     49954
3      9176
6      5636
9      3758
12     2534
Name: num_var22_ult3, dtype: int64
0     64766
3      7981
6      2271
9       684
12      199
Name: num_med_var22_ult3, dtype: int64
0     51408
3      8258
6      4650
9      2951
12     2124
Name: num_med_var45_ult3, dtype: int64
3    42838
0    20546
2     9368
1     3268
Name: num_meses_var5_ult3, dtype: int64
0    73805
2      910
1      830
3      475
Name: num_meses_var8_ult3, dtype: int64
0    72537
2     1711
3     1282
1      490
Name: num_meses_var12_ult3, dtype: int64
0    72760
2     1596
3     1332
1      332
Name: num_meses_var13_corto_ult3, dtype: int64
0    75477
3      296
2      188
1       59
Name: num_meses_var13_largo_ult3, dtype: int64
0    76018
2        2
Name: num_meses_var13_medio_ult3, dtype: int64
0    75897
2       72
1       36
3       15
Name: num_meses_var17_ult3, dtype: int64
0    76015
2        3
1        2
Name: num_meses_var29_ult3, dtype: int64
0    75972
3       24
2       19
1        5
Name: num_meses_var33_ult3, dtype: int64
2    54536
1    10974
0    10164
3      346
Name: num_meses_var39_vig_ult3, dtype: int64
0    75877
2       67
1       45
3       31
Name: num_meses_var44_ult3, dtype: int64
0     66075
3      2641
6      1475
9      1036
12      781
Name: num_op_var39_comer_ult1, dtype: int64
0     64330
3      2645
6      1549
9      1125
12      818
Name: num_op_var39_comer_ult3, dtype: int64
0     75725
3        74
6        42
9        35
12       20
Name: num_op_var40_comer_ult1, dtype: int64
0     75672
3        71
6        48
9        30
12       22
Name: num_op_var40_comer_ult3, dtype: int64
0     75982
3        26
6         8
24        1
18        1
Name: num_op_var40_efect_ult1, dtype: int64
0     75975
3        25
6        12
24        2
9         2
Name: num_op_var40_efect_ult3, dtype: int64
0     66226
3      2621
6      1467
9      1030
12      776
Name: num_op_var41_comer_ult1, dtype: int64
0     64480
3      2641
6      1543
9      1125
12      813
Name: num_op_var41_comer_ult3, dtype: int64
0     69336
3      2797
6      1437
9       821
12      497
Name: num_op_var41_efect_ult1, dtype: int64
0     67372
3      3271
6      1604
9       973
12      661
Name: num_op_var41_efect_ult3, dtype: int64
0     69325
3      2800
6      1440
9       822
12      496
Name: num_op_var39_efect_ult1, dtype: int64
0     67360
3      3274
6      1608
9       975
12      662
Name: num_op_var39_efect_ult3, dtype: int64
0    76020
Name: num_reemb_var13_hace3, dtype: int64
0    75982
3       38
Name: num_reemb_var13_ult1, dtype: int64
0    76019
3        1
Name: num_reemb_var17_hace3, dtype: int64
0     76000
3        16
6         2
21        1
9         1
Name: num_reemb_var17_ult1, dtype: int64
0    76020
Name: num_reemb_var33_hace3, dtype: int64
0    76019
3        1
Name: num_reemb_var33_ult1, dtype: int64
0     75924
3        73
6        20
15        1
12        1
Name: num_sal_var16_ult1, dtype: int64
0     70958
3      2984
6      1071
9       457
12      223
Name: num_var43_emit_ult1, dtype: int64
0     66190
3      5412
6      2416
9       879
12      409
Name: num_var43_recib_ult1, dtype: int64
0     74384
3      1027
6       314
9       143
12       55
Name: num_trasp_var11_ult1, dtype: int64
0    76018
6        1
3        1
Name: num_trasp_var17_in_hace3, dtype: int64
0    76016
3        4
Name: num_trasp_var17_in_ult1, dtype: int64
0    76020
Name: num_trasp_var17_out_hace3, dtype: int64
0    76016
3        4
Name: num_trasp_var17_out_ult1, dtype: int64
0    76014
3        6
Name: num_trasp_var33_in_hace3, dtype: int64
0    76015
3        4
6        1
Name: num_trasp_var33_in_ult1, dtype: int64
0    76020
Name: num_trasp_var33_out_hace3, dtype: int64
0    76019
3        1
Name: num_trasp_var33_out_ult1, dtype: int64
0    76017
3        2
6        1
Name: num_venta_var44_hace3, dtype: int64
0     75976
3        24
6         7
9         4
12        3
Name: num_venta_var44_ult1, dtype: int64
0     48881
3      8276
6      4667
9      3112
12     2264
Name: num_var45_hace2, dtype: int64
0     50663
3      9493
6      4745
9      2872
12     1887
Name: num_var45_hace3, dtype: int64
0     54392
3      6983
6      3924
9      2446
12     1653
Name: num_var45_ult1, dtype: int64
0     38356
3      8201
6      4851
9      3438
12     2600
Name: num_var45_ult3, dtype: int64
0    76020
Name: saldo_var2_ult1, dtype: int64
0.0     23241
3.0     18220
90.0     5697
15.0     1513
30.0     1377
Name: saldo_medio_var5_hace2, dtype: int64
0.00    29637
0.09      992
0.18      875
0.99      741
2.61      703
Name: saldo_medio_var5_hace3, dtype: int64
0.0     24664
3.0     18596
90.0     5187
30.0     1563
15.0     1542
Name: saldo_medio_var5_ult1, dtype: int64
0.00    24664
2.88     1104
2.34     1002
2.85      985
2.07      949
Name: saldo_medio_var5_ult3, dtype: int64
0.0     74628
3.0        16
30.0       13
15.0       12
60.0        9
Name: saldo_medio_var8_hace2, dtype: int64
0.00    75536
0.99        6
0.18        4
0.30        4
1.05        3
Name: saldo_medio_var8_hace3, dtype: int64
0.0     73821
3.0        22
15.0       13
60.0       10
30.0       10
Name: saldo_medio_var8_ult1, dtype: int64
0.00       73821
3.00           6
13.20          3
2.34           2
6497.64        2
Name: saldo_medio_var8_ult3, dtype: int64
0.0         73024
150000.0        6
180000.0        6
60.0            5
36000.0         5
Name: saldo_medio_var12_hace2, dtype: int64
0.00        74734
11612.91        7
580.65          5
1935.48         5
7741.92         5
Name: saldo_medio_var12_hace3, dtype: int64
0.00      72544
3.00          8
90.03         4
300.00        4
30.00         4
Name: saldo_medio_var12_ult1, dtype: int64
0.00       72544
75.03          3
2.04           2
8709.69        2
1999.98        2
Name: saldo_medio_var12_ult3, dtype: int64
0.0         73047
30000.0        67
90000.0        64
60000.0        64
150000.0       57
Name: saldo_medio_var13_corto_hace2, dtype: int64
0.00       74657
5000.01       11
6000.00       11
4000.02       10
967.74         9
Name: saldo_medio_var13_corto_hace3, dtype: int64
0.0         72836
90000.0       134
30000.0       130
60000.0       121
150000.0      117
Name: saldo_medio_var13_corto_ult1, dtype: int64
0.00         72836
20322.57         9
240.75           7
41333.34         7
261290.34        6
Name: saldo_medio_var13_corto_ult3, dtype: int64

0.0         75532
75000.0        27
90000.0        23
150000.0       20
300000.0       18
Name: saldo_medio_var13_largo_hace2, dtype: int64
0.00        75722
6000.00         5
9677.43         4
20322.57        3
5000.01         3
Name: saldo_medio_var13_largo_hace3, dtype: int64
0.0         75483
75000.0        37
90000.0        34
150000.0       31
300000.0       24
Name: saldo_medio_var13_largo_ult1, dtype: int64
0.00         75483
203225.82        3
50806.44         3
94193.55         2
124137.93        2
Name: saldo_medio_var13_largo_ult3, dtype: int64
0.00       76018
7741.95        1
5586.21        1
Name: saldo_medio_var13_medio_hace2, dtype: int64
0    76020
Name: saldo_medio_var13_medio_hace3, dtype: int64
0        76018
30000        1
9000         1
Name: saldo_medio_var13_medio_ult1, dtype: int64
0.00        76018
7293.12         1
18870.99        1
Name: saldo_medio_var13_medio_ult3, dtype: int64
0.00         75930
67321.32         3
37020.03         2
1215.93          1
147969.84        1
Name: saldo_medio_var17_hace2, dtype: int64
0.00          76003
2934.84           1
119.04            1
9024.39           1
2368558.95        1
Name: saldo_medio_var17_hace3, dtype: int64
0.00        75902
20855.61        1
3026.82         1
81455.16        1
69875.46        1
Name: saldo_medio_var17_ult1, dtype: int64
0.00         75902
18911.85         1
4076.43          1
285821.91        1
64619.58         1
Name: saldo_medio_var17_ult3, dtype: int64
0.00        76016
10430.01        1
4838.70         1
868.98          1
59.97           1
Name: saldo_medio_var29_hace2, dtype: int64
0.0      76019
145.2        1
Name: saldo_medio_var29_hace3, dtype: int64
0.00        76017
2142.87         1
13793.67        1
3365.46         1
Name: saldo_medio_var29_ult1, dtype: int64
0.00       76017
3365.46        1
3490.80        1
7331.34        1
Name: saldo_medio_var29_ult3, dtype: int64
0.00        75977
15265.95        2
7319.07         1
9112.83         1
9825.81         1
Name: saldo_medio_var33_hace2, dtype: int64
0.00        75996
2000.16         2
6028.08         1
4810.77         1
11473.05        1
Name: saldo_medio_var33_hace3, dtype: int64
0.00        75972
15050.52        2
21955.59        1
15458.22        1
51979.11        1
Name: saldo_medio_var33_ult1, dtype: int64
0.00        75972
10772.22        2
28625.49        1
8231.85         1
4680.36         1
Name: saldo_medio_var33_ult3, dtype: int64
0.00        75921
27781.50        2
6229.20         1
4191.45         1
2712.48         1
Name: saldo_medio_var44_hace2, dtype: int64
0.00       75988
2870.31        1
1874.70        1
3624.48        1
866.58         1
Name: saldo_medio_var44_hace3, dtype: int64
0.00        75879
61887.72        2
59241.90        1
3791.25         1
50850.90        1
Name: saldo_medio_var44_ult1, dtype: int64
0.00        75879
44834.61        2
25582.53        1
8851.17         1
10039.44        1
Name: saldo_medio_var44_ult3, dtype: int64
117310.979016    14868
451931.220000       16
463625.160000       12
288997.440000       11
104563.800000       11
Name: var38, dtype: int64
0    73012
1     3008
Name: TARGET, dtype: int64

In [13]:
treino['ind_var18_0'].equals(treino['ind_var18'])

True

DATA CLEANING

In [14]:
###remove columns with uniform values (standard deviation=0)
uni=[]
for col in cols:
    if treino[col].std()==0:
        uni.append(col)

In [15]:
treino.drop(uni, axis=1, inplace=True)
teste.drop(uni, axis=1, inplace=True)

In [16]:
#remove duplicated columns
same=[]
colunas=treino.columns
for i in range(len(colunas)-1): 
    for j in range(i+1, len(colunas)):
        if treino[colunas[i]].equals(treino[colunas[j]]):
            same.append([colunas[j]])

In [17]:
same=np.array(same)
unique_same=list(np.unique(same))
type(unique_same)

list

In [18]:
treino.drop(unique_same, axis=1, inplace=True)
teste.drop(unique_same, axis=1, inplace=True)

In [19]:
treino.shape

(76020, 308)

In [20]:
# drop values -99999 from column 'var3'

In [21]:
treino.drop(treino.loc[treino['var3']==-999999].index, inplace=True)

In [22]:
teste.drop(teste.loc[teste['var3']==-999999].index, inplace=True)

In [23]:
treino.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [24]:
treino.shape

(75904, 308)

In [25]:
#drop 'ID' column
treino.drop(['ID'], axis=1, inplace=True)
teste.drop(['ID'], axis=1, inplace=True)

In [76]:
###normalize data
from sklearn.preprocessing import Normalizer

# Gerando os dados normalizados
X = treino.iloc[:,0:305]
Y = treino.iloc[:,306]
 
scaler = Normalizer().fit(X)
X = scaler.transform(X)

In [80]:
#split 'treino' in train/test 

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 10)
X_train.shape

(53132, 305)

In [81]:
# Feature Selection with Extra Trees Classifier

modelo = ExtraTreesClassifier()
modelo.fit(X, Y)

# Select features
feat=SelectFromModel(modelo, prefit=True) #threshold (default=mean)

X_train=feat.transform(X_train)

C:\Users\meire\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [82]:
X_train.shape #70 variables

(53132, 70)

In [83]:
X_test=feat.transform(X_test)

X_test.shape

MODEL TRAINING

In [85]:
#model training #Logistic Regression

mod_log=LogisticRegression()
mod_log.fit(X_train,Y_train)

C:\Users\meire\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [86]:
#predictions
predictions=mod_log.predict(X_test)

In [87]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     21888
           1       0.00      0.00      0.00       884

    accuracy                           0.96     22772
   macro avg       0.48      0.50      0.49     22772
weighted avg       0.92      0.96      0.94     22772

In [88]:
#ROC
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,predictions)

0.4999543128654971

In [37]:
accuracy = accuracy_score(Y_test, predictions)
print("AcurÃ¡cia: %.2f%%" % (accuracy * 100.0)) #too high #imbalanced data

AcurÃ¡cia: 96.11%

In [89]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
mod_knn=KNeighborsClassifier()
mod_knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [90]:
#KNN predictions
pred_knn=mod_knn.predict(X_test)

In [91]:
#KNN ROC
roc_auc_score(Y_test,pred_knn)

0.5144162548622688

In [41]:
#XGBoost
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\meire\anaconda3\lib\site-packages (0.90)
Requirement already satisfied: scipy in c:\users\meire\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\users\meire\anaconda3\lib\site-packages (from xgboost) (1.16.4)

In [41]:
from xgboost import XGBClassifier

In [92]:
mod_xgb=XGBClassifier()
mod_xgb.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [93]:
#predict xgboost
pred_xgb=mod_xgb.predict(X_test)

In [94]:
#XGB ROC
roc_auc_score(Y_test, pred_xgb)

0.49997715643274854

In [45]:
accuracy = accuracy_score(Y_test, pred_xgb)
print("AcurÃ¡cia: %.2f%%" % (accuracy * 100.0)) #too high #imbalanced data

AcurÃ¡cia: 96.11%

In [47]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\meire\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\meire\anaconda3\lib\site-packages (from imblearn) (0.5.0)
Requirement already satisfied: scipy>=0.17 in c:\users\meire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: numpy>=1.11 in c:\users\meire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.16.4)
Requirement already satisfied: joblib>=0.11 in c:\users\meire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: scikit-learn>=0.21 in c:\users\meire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.21.2)

In [95]:
#apply SMOTE to balance data
from imblearn.over_sampling import SMOTE 

print("After OverSampling, counts of label '1': {}".format(sum(Y_train_res == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(Y_train_res == 0)))

After OverSampling, counts of label '1': 51010
After OverSampling, counts of label '0': 51010

In [100]:
#apply XGBoost to SMOTEd data
sm = SMOTE(random_state = 2) 
X_train_res, Y_train_res = sm.fit_sample(X_train, Y_train.ravel()) 
mod_xgb=XGBClassifier()
mod_xgb.fit(X_train_res,Y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [102]:
X_train_res.shape

(102020, 70)

In [103]:
#predict xgboost
pred_xgb=mod_xgb.predict(X_test)

In [104]:
#XGB ROC
roc_auc_score(Y_test, pred_xgb)

0.7203805758977005

In [123]:
accuracy = accuracy_score(Y_test, pred_xgb)
print("AcurÃ¡cia: %.2f%%" % (accuracy * 100.0)) ##BEST RESULT!!!

AcurÃ¡cia: 85.20%

TRYING TO IMPROVE ACCURACY

In [105]:
###another feature selection to reduce number of variables
feat=SelectFromModel(estimator=ExtraTreesClassifier()).fit(X, Y)

C:\Users\meire\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [106]:
feat=SelectFromModel(estimator=ExtraTreesClassifier()).fit(X, Y)

C:\Users\meire\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [107]:
feat.threshold_

0.003278688524590164

In [108]:
feat=SelectFromModel(estimator=ExtraTreesClassifier(), threshold=0.008).fit(X, Y) #selected random threshold

C:\Users\meire\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [109]:
#split 'treino' in train/test 

X = treino.iloc[:,0:305]
Y = treino.iloc[:,306]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 10)
X_train.shape

(53132, 305)

In [110]:
X_train=feat.transform(X_train)

In [111]:
X_train.shape #38 variables

(53132, 38)

In [112]:
X_test=feat.transform(X_test)

In [118]:
Y_test.shape

(22772,)

In [119]:
#apply XGBoost to SMOTEd data
sm = SMOTE(random_state = 2) 
X_train_res, Y_train_res = sm.fit_sample(X_train, Y_train.ravel()) 
mod_xgb=XGBClassifier()
mod_xgb.fit(X_train_res,Y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [120]:
X_train_res.shape

(102020, 38)

In [121]:
#predict xgboost
pred_xgb=mod_xgb.predict(X_test)

In [122]:
#XGB ROC
roc_auc_score(Y_test, pred_xgb) #worse than with 70 variables

0.6885417080124897